*{margin: 0; padding: 0;}

#banner{max-height: 300px;}
#banner>img{width: 100%; max-height: 300px;}
#product-list{display: flex; flex-wrap: wrap;}
.product-card{width: 180px; /* height: 310px; */ border: 1px solid rgba(230,230,230,1); margin-right: 12px; margin-bottom: 12px; position: relative;}
.product-blur{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #ffffffbb; pointer-events: none;}
.product-link{color: #333; text-decoration: none;}
.product-card .product-img{width: 100%; height: 210px; object-fit: contain;}
.product-card .product-contents{padding: 8px; display: flex; flex-direction: column;}
.product-card .product-contents .product-name{font-size: 14px; color: rgb(88, 88, 88);}
.product-card .product-contents .product-price{margin-top: 5px; font-weight: 600;}
.product-card .product-contents .product-footer{display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}
.product-card .product-contents .product-seller{display: flex; align-items: center;}
.product-card .product-contents .product-seller .product-avatar{width: 24px; margin-right: 3px;}
.product-card .product-contents .product-seller span{font-size: 14px; color: #666;}
.product-card .product-contents .product-date{font-size: 12px; color: #8a8a8a;}
