#back-btn{
    display: flex; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background: rgb(243, 243, 243); 
    border: none;
    outline: none;
}
#image-box{
    max-height: 300px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    img{
        max-width: 300px;
        height: 100%;
    }
}
#profile-box{
    padding: 16px;
    margin: 8px 0 0 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    
    img{
        width: 30px;
        height: 30px;
    }
    span{
        font-size: 15px;
        font-weight: 600;
        margin-left: 8px;
    }
}
#contents-box{
    padding: 16px;
    #name{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    #price{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    #createAt{
        font-size: 12px;
        color: rgb(204,204,204);
    }
    .payment{
        margin: 20px 0 0;
    }
    #description{
        margin-top: 16px;
    }
}
